<h1>Sign Up!</h1>
<form action="/user/create" method="post">
<input type="text" name="name" placeholder="Name">
<input type="text" name="email" placeholder="E-mail">
<input type="text" name="password" placeholder="Password">
<input type="submit" value="Submit">
</form>